#root, body, html, .router-content {
    height: 100%;
}

.router-content {
    width: 100%;
    display: table;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    display: table-row;
}

.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.fill-rest {
    display: table-row;
    height: 100%;
}

/*workaround since table-row seems to only take click handlers for children*/
.fill-rest > * {
    height: 100%;
}

.navbar > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar > ul > img {
    height: 3em;
    width: 3em;
    padding: 0.5em;
    border-radius: 50%;
}

.navbar > ul > *:hover {
    background-color: #111;
}

.navbar > ul > .navbar-left {
    float: left;
}

.navbar > ul > .navbar-right {
    float: right;
}

.vertical-navbar-list {
    z-index: 1;
    position: absolute;
    right: 0px;
}

.center-content {
    text-align: center;
    overflow: hidden;
}

.center {
    margin: auto;
}

.button-list-item {
    margin: 1em 5em 1em 0em;
}

.list-item {
    padding: 0.5em;
    margin: 0em 0.5em;
    border: 1px solid darkgray;
    border-right-width: 0;
    border-left-width: 0;
    overflow: auto;
}

.list-item > p {
    margin: 0.33em;
}

.list-item > p:not(.list-header) {
    margin: 0.33em;
    color: darkgray;
}

.list-header {
    font-weight: bold;
}

.list-image {
    float: left;
    border-radius: 50%;
    width: 5em;
    padding: 0.33em;
}

input {
    width: 100%;
}

form > * {
    padding: 1em;
}

.modular-button-container {
    float: right;
}

.modular-button-container > * {
    margin: 0.3em;
}

.interest-point-tag-box {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    padding: 1em;
}

textarea {
    resize: none;
}

.auto-complete {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
}

.auto-complete-item {
    background: white;
    padding: 0.3em;
    cursor: pointer;
}

.auto-complete-item:hover {
    background: lightgray;
}

.auto-complete-item + .auto-complete-item {
    border-top: solid lightgray 1px;
}

.text-label {
    font-weight: bold;
}